:root {
  --Text2: rgba(60, 72, 82, 1);
  --Text3: rgba(190, 190, 190, 1);
  --Text4: rgba(255, 255, 255, 1);
  --Primary1: rgba(0, 150, 255, 1);
  --Primary2: linear-gradient(266.79deg, #0048ff 4.63%, #0096ff 100%);
  --Danger1: rgba(247, 113, 113, 1);
  --Danger2: rgba(255, 0, 0, 1);
  --Disabled: rgba(231, 231, 231, 1);
  --Success1: rgba(71, 186, 104, 1);
  --Success2: rgba(215, 237, 221, 1);
  --AlertText: rgba(222, 67, 19, 1);
  --AlertBorder: linear-gradient(
    135deg,
    #de4313 0%,
    #de4313 0.75%,
    #de4313 2.92%,
    #de4414 6.37%,
    #df4515 10.97%,
    #df4816 16.59%,
    #e04b18 23.1%,
    #e1501b 30.37%,
    #e3561f 38.27%,
    #e55e24 46.66%,
    #e7682b 55.41%,
    #eb7533 64.39%,
    #ee843c 73.47%,
    #f39547 82.52%,
    #f8a954 91.41%,
    #fec163 100%
  );
  --AlertFill: linear-gradient(
    135deg,
    rgba(222, 67, 19, 0.2) 0%,
    rgba(222, 67, 19, 0.2) 0.75%,
    rgba(254, 193, 99, 0.2) 100%
  );
}

.container {
  position: relative;
}

.panels {
  display: flex;
  flex-direction: row;
  position: relative;
}
/**********************Navbar styling******************/
.navbar {
  background-color: var(--Text4);
  height: 72px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  /* border: 1px solid red; */
}

.lh {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 70px;
  margin: 13.5px auto 13.5px 106.5px;
  /* margin-left: 106.5px; */
}

/*************************Navbar left part styling*******************/

.lh > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.lh > h1 {
  width: 158px;
  height: 45px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  line-height: 45px;

  background: var(--Primary2);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

/*************************Navbar right part styling*******************/

.rh {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 70px;
  margin-right: 106.5px;
}

.rh button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 42px;
  border: none;
  color: var(--Text4);
  font-weight: bold;
  background: var(--Primary2);
  border-radius: 52px;
}

/*********************Leftpanel styling********************************/

.left_panel {
  position: absolute;
  top: 140px;
  left: 155px;
  width: 750px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  width: 750px;
}

.heading > div {
  width: 799px;

  margin: 0px;
  font-weight: 600;
  font-size: 50px;
  line-height: 125%;
  color: var(--Text4);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.rectangle {
  background: var(--Danger2);
  position: absolute;
  width: 165px;
  height: 8px;
  top: 28px;
  left: 38px;
}

.heading > div > span {
  font-family: 'Roboto';
  color: var(--Primary1);
}
/*********************Feature styling********************************/
.feature_list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: absolute;
  top: 160px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list img {
  max-width: 66px;
  max-height: 66px;
}

.list h1 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 32px;
}
/*********************Rightpanel styling********************************/
.right_panel {
  background: var(--Text4);
  width: 549px;
  height: 790px;
  position: absolute;
  top: 140px;
  right: 102px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**progress bar styling**/
.progress_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 175px;
  margin-top: 22px;
}

.stage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: -10px;
}

/**heading styling**/
.right_panel > p {
  font-family: Roboto;
  font-size: 24px;
  margin-top: 0px;
  font-weight: 600;
}

/**input container styling**/
.input_container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.text_field {
  border-radius: 4px;
  width: 501px;
  height: 65px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 140px;
  position: relative;
}

.text_field_gray {
  border: 2px solid var(--Text3);
  color: var(--Text3);
  border-radius: 4px;
  width: 501px;
  height: 65px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 140px;
  position: relative;
  background-color: var(--Disabled);
}

.text_field_green {
  border: 2px solid var(--Success1);
  background: var(--Success2);
  border-radius: 4px;
  width: 501px;
  height: 65px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 140px;
  position: relative;
}

.category_red {
  color: var(--Text4);
  align-items: center;
  position: absolute;
  left: 87px;
  width: 121px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  background: var(--Danger1);
  border-radius: 0px 0px 4px 4px;
  z-index: +1;
}

.category_green {
  color: var(--Text4);
  align-items: center;
  position: absolute;
  left: 87px;
  width: 121px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  background: var(--Success1);
  border-radius: 0px 0px 4px 4px;
  z-index: +1;
}

.field1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
}

.field1 > p {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
}

.field2 {
  width: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 5 px;
  align-items: end;
  justify-content: center;
}

.field2 > p,
.field2 > p > span {
  margin: 0px;
  font-family: Roboto;
}

.total_font {
  font-size: 12px;
  font-weight: 400;
}

.fee_font {
  font-size: 16px;
  font-weight: 600;
}

.month_font {
  font-size: 10px;
  font-weight: 500;
}
/*********************Summary styling********************************/
.summary {
  border-top: 2px solid var(--Text3);
  width: 501px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  padding-top: 10px;
  margin-top: 20px;
}

.limited_offer {
  border: 2px solid transparent;
  border-image-source: var(--AlertBorder);
  border-image-slice: 1;
  background: var(--AlertFill);
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: column;
  row-gap: 2.5px;
  justify-content: center;
}

.fee,
.total,
.offer_detail {
  display: flex;
  flex-direction: row;
  column-gap: 14.5px;
  justify-content: space-between;
  align-items: center;
  width: 453px;
  height: 24px;

  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: var(--Text2);
}

.offer_detail,
.timeframe {
  padding-left: 24px;
}

.timeframe {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  height: 24px;
}

.timeframe > img {
  max-width: 20px;
  max-height: 20px;
}

.timeframe > p {
  font-weight: 400;
  color: var(--AlertText);
  font-size: 14px;
  font-family: 'Roboto';
}
/**************************Payment button styling************************/
.button_container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  width: 501px;
  margin-top: 15px;
}

.cancel {
  width: 242.5px;
  height: 56px;
  border: 2px solid var(--Danger1);
  border-radius: 4px;
  color: var(--Danger1);
  font-size: 16px;
  font-weight: 700;
  font-family: 'Roboto';
}
.pay {
  width: 242.5px;
  height: 56px;
  background: var(--Success1);
  border-radius: 4px;
  border: 1px solid var(--Success1);
  font-size: 16px;
  font-weight: 700;
  font-family: 'Roboto';
  color: var(--Text4);
}
/*********************Razorpay icon styling********************************/
.razorpay {
  align-self: start;
  padding-left: 24px;
  padding-top: 24px;
}
